.services {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(rgba(255, 201, 0, 95%), rgba(255, 201, 0, 0.8)), url("../../assets/bg-code.jpg") fixed center center;
}


.services-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.services-title h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1;
    background-image: linear-gradient(to right, black 50%, rgb(255, 201, 0) 50%);
    background-size: 100% 4px;
    /* Ajusta el grosor de la línea según sea necesario */
    background-repeat: no-repeat;
    background-position: 0 100%;
    /* Ajusta la posición de la línea según sea necesario */
}

.service-text {
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 1.2rem;
}

.service-p{
    font-style: italic;
}