.portfolio {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
}

.portfolio-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.portfolio-title h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1;
    background-image: linear-gradient(to right, black 50%, rgb(255, 201, 0) 50%);
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

