.About {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 30px 0px;
}

.About h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1;
    background-image: linear-gradient(to right, black 50%, rgb(255, 201, 0) 50%);
    background-size: 100% 4px;
    /* Ajusta el grosor de la línea según sea necesario */
    background-repeat: no-repeat;
    background-position: 0 100%;
    /* Ajusta la posición de la línea según sea necesario */
}


.experiencia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 40px;
}

.experiencia p {
    text-align: justify;
}

.neon-circle {
    width: 95vh;
    height: 65Vh;
    border-radius: 50%;
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se salga del círculo */
    box-shadow: 0 0 5px 3px rgb(255, 201, 0);
    /* Efecto de borde neon amarillo */
}

.img-experiencia {
    margin-right: 0;
    width: 100%;
    height: 100%;
}

.desc-experiencia {
    line-height: 1.5;
}

.desc-experiencia p {
    margin-bottom: 5px;
}

/* Responsive */
@media (max-width: 768px) {

    .neon-circle {
        width: 70vh; 
        height: 70Vh;
    }

    .experiencia {
        flex-direction: column;
    }

    .img-experiencia {

        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}