.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;

}

.hero-content {
    position: absolute;
    z-index: 999;
    max-width: 40%;
    background-color: #ffc900;
    opacity: 0.9;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100vh !important;
}

.hero-content h1 {
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

.hero-content h2 {
    color: rgba(0, 0, 0, 0.9);
    margin: 10px;
    margin: 10px 0px;
    font-weight: 500;
}

.hero-content .quien_soy_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-content .quien_soy_info .links-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.hero-content .quien_soy_info .btn {
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid;
    padding: 10px 20px;
    margin: 10px;
}

.hero-content .quien_soy_info .btn:hover {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}