.quien_soy_redes {
    padding-left: 50px;
    margin: 10px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: blueviolet;
}

.quien_soy_redes .menu-redes {
    list-style-type: none;

    
}