.quien_soy_redes {
    margin: 10px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quien_soy_redes .menu-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

.quien_soy_redes .menu-redes a{
   margin: 10px;
}

a:hover{
    color: black;
}
