.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition:  0.3s ease;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: aliceblue;
}

.topnav.scrolled {
    background-color: #000;
}

.logo {
    width: 100px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
}

.nav-item {
    margin: 5px;
}

.nav-item:hover {
    color: yellow
}

.nav-item.active {
    color: yellow;
}

a.active {
    color: yellow;
    text-decoration: none;
}