.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.footer p {
    color: white;
    margin: 0px;
}

.redes_sociales {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.redes_sociales a{
  margin: 5px;
}

.footer-icon{
    color: white;
    font-size: 22px;
}

.footer-icon:hover {
    color:rgb(255, 201, 0) !important;
  }


/* Responsive */
@media (max-width: 768px) {

    .footer {
     display: flex;
     flex-direction: column;
    }

}
